@using System.Reflection
@using Vizor.Documentation.Areas.Input.Pages

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@(new Assembly[] { typeof(ButtonPage).Assembly })">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
