@page "/doc/vizor/input/form"
@using Vizor.Documentation.Areas.Input.Models;

<ViPage>
	<ViPageHeader>Form</ViPageHeader>
	<ViPageBody>

		<ViForm Model="employee">
			<ViFluentValidator TValidator="EmployeeValidator" TModel="Employee" />

			<ViCard>
				<Header><ViCardTitle>Employee Info</ViCardTitle></Header>
				<Body>

					<ViFormElement Label="First Name" IsRequired="true">
						<ViTextInput @bind-Value="@employee.FirstName" ValidationFor="@(() => employee.FirstName)" />
					</ViFormElement>
					<ViFormElement Label="Last Name" IsRequired="true">
						<ViTextInput @bind-Value="@employee.LastName" ValidationFor="@(() => employee.LastName)" />
					</ViFormElement>
					<ViFormElement Label="Email" IsRequired="true">
						<ViTextInput @bind-Value="@employee.Email" ValidationFor="@(() => employee.Email)" />
					</ViFormElement>
					<ViFormElement Label="Password" IsRequired="true">
						<ViPasswordInput @bind-Value="@employee.Password" ValidationFor="@(() => employee.Password)" />
						<ViFormHint Text="Must be at least 8 characters long" />
					</ViFormElement>

					<ViFormElement Label="Administrator">
						<ViToggleInput @bind-Value="@employee.IsAdmin" />
					</ViFormElement>

					@*
					public DateTime DateOfBirth { get; set; }

					public string Role { get; set; }

					public decimal Salary { get; set; }

					public string? PhoneNumber { get; set; }

					public int TravelDistance { get; set; }

					*@

					<ViFormElement Label="Remarks">
						<ViTextArea @bind-Value="@employee.Remarks" ValidationFor="@(() => employee.Remarks)" />
					</ViFormElement>

					<button type="submit">Save</button>
				</Body>
			</ViCard>

			<ViCard CssClass="mt-2">
				<Header><ViCardTitle>Address</ViCardTitle></Header>
				<Body>

					<ViFormElement Label="Street And Number">
						<ViTextInput @bind-Value="@employee.Address.StreetAndNumber" ValidationFor="@(() => employee.Address.StreetAndNumber)" />
					</ViFormElement>
					<ViFormElement Label="Postal Code">
						<ViTextInput @bind-Value="@employee.Address.PostalCode" ValidationFor="@(() => employee.Address.PostalCode)" />
					</ViFormElement>
					<ViFormElement Label="City">
						<ViTextInput @bind-Value="@employee.Address.City" ValidationFor="@(() => employee.Address.City)" />
					</ViFormElement>
					<ViFormElement Label="Country">
						<ViTextInput @bind-Value="@employee.Address.CountryCode" ValidationFor="@(() => employee.Address.CountryCode)" />
					</ViFormElement>

					<button type="submit">Save</button>
				</Body>
			</ViCard>
		</ViForm>
	</ViPageBody>
</ViPage>



@code {

	private Employee employee = new();
}
