@*
//   Copyright 2022 DataHint BV
//   Copyright 2022 Ben Motmans
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
*@

@namespace Vizor
@inherits ViComponentBase

<CascadingValue IsFixed="true" Value="@Style" Name="ValueListStyle">
	<CascadingValue IsFixed="true" Value="@LabelWidth" Name="LabelWidth">
		@if (Style == ValueListStyle.List)
		{
			<dl class="row @CssClass" @attributes="@AdditionalAttributes">
				@ChildContent
			</dl>
		}
		else if (Style == ValueListStyle.Grid)
		{
			<div class="datagrid @CssClass" @attributes="@AdditionalAttributes">
				@ChildContent
			</div>
		}
		else
		{
			throw new ArgumentException($"{nameof(ValueListStyle)} {Style} not supported");
		}
	</CascadingValue>
</CascadingValue>

@code {

	[Parameter]
	public ValueListStyle Style { get; set; }

	[Parameter]
	public int LabelWidth { get; set; } = 5;

	[Parameter, EditorRequired]
	public RenderFragment ChildContent { get; set; } = default!;

	protected override void OnParametersSet()
	{
		if (LabelWidth < 2 || LabelWidth > 9)
		{
			throw new ArgumentException($"{nameof(LabelWidth)} must be between [2-9]");
		}
	}
}
