@*
//   Copyright 2022 DataHint BV
//   Copyright 2022 Ben Motmans
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
*@

@inherits ViComponentBase

<li class="nav-item">
	@if (IsActive)
	{
		<a class="nav-link active @CssClass" aria-current="page" @attributes="AdditionalAttributes" href="@Link" disabled="@IsDisabled.ToConditionalAttribute()">
			@if (Icon != null)
			{
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					@Icon
				</span>
			}
			@ChildContent
			@Text
		</a>
	}
	else
	{
		<a class="nav-link @CssClass" @attributes="AdditionalAttributes" href="@Link" disabled="@IsDisabled.ToConditionalAttribute()">
			@if (Icon != null)
			{
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					@Icon
				</span>
			}
			@ChildContent
			@Text
		</a>
	}
</li>


@code {

	//TODO: onclick support

	// see https://getbootstrap.com/docs/5.2/components/navbar/

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Text { get; set; }

	[Parameter, EditorRequired]
	public string Link { get; set; } = default!;

	[Parameter]
	public RenderFragment? Icon { get; set; }

	[Parameter]
	public bool IsActive { get; set; }

	[Parameter]
	public bool IsDisabled { get; set; }

	//TODO: see --> automatically add active if the current URL matches
	/*
		* <NavLink class="nav-link" href="doc/vizor/input/button" Match="NavLinkMatch.All">
			<span class="oi oi-home" aria-hidden="true"></span> Button
		</NavLink>
	*/
}
