@*
//   Copyright 2022 DataHint BV
//   Copyright 2022 Ben Motmans
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
*@

@inherits ViComponentBase

@switch (Style)
{
	case StatusStyle.DotOnly:
		<span class="status-dot @ColorConverter.ToStatusColor(Color) @CssClass" @attributes="@AdditionalAttributes" />
		break;
	case StatusStyle.AnimatedDotOnly:
		<span class="status-dot status-dot-animated @ColorConverter.ToStatusColor(Color) @CssClass" @attributes="@AdditionalAttributes" />
		break;
	case StatusStyle.TextOnly:
	case StatusStyle.TextWithDot:
	case StatusStyle.TextWithAnimatedDot:
		<span class="status @ColorConverter.ToStatusColor(Color) @CssClass" @attributes="@AdditionalAttributes">
			@if (Style == StatusStyle.TextWithDot)
			{
				<span class="status-dot"></span>
			}
			else if (Style == StatusStyle.TextWithAnimatedDot)
			{
				<span class="status-dot status-dot-animated"></span>
			}
			@ChildContent
			@Text
		</span>
		break;
	case StatusStyle.IndicatorOnly:
	case StatusStyle.AnimatedIndicatorOnly:
		<span class="status-indicator @(Style == StatusStyle.AnimatedIndicatorOnly ? "status-indicator-animated" : "") @ColorConverter.ToStatusColor(Color) @CssClass" @attributes="@AdditionalAttributes">
			<span class="status-indicator-circle"></span>
			<span class="status-indicator-circle"></span>
			<span class="status-indicator-circle"></span>
		</span>
		break;
	default:
		throw new NotSupportedException($"Unknown StatusStyle {Style}");

}


@code {

	// see https://preview.tabler.io/docs/statuses.html

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public RgbaColor? Color { get; set; }

	[Parameter]
	public StatusStyle Style { get; set; } = StatusStyle.TextWithDot;
}
